PaginaHooke/HookeWeb/Connected Services/HookeWS/AcademiaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.webhooke.pucp.edu.pe/" targetNamespace="http://services.webhooke.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarAcademia" type="tns:eliminarAcademia" />
  <xs:element name="eliminarAcademiaResponse" type="tns:eliminarAcademiaResponse" />
  <xs:element name="guardarAcademia" type="tns:guardarAcademia" />
  <xs:element name="guardarAcademiaResponse" type="tns:guardarAcademiaResponse" />
  <xs:element name="listarAcademias" type="tns:listarAcademias" />
  <xs:element name="listarAcademiasResponse" type="tns:listarAcademiasResponse" />
  <xs:element name="obtenerAcademia" type="tns:obtenerAcademia" />
  <xs:element name="obtenerAcademiaResponse" type="tns:obtenerAcademiaResponse" />
  <xs:complexType name="listarAcademias">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAcademiasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:academia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="academia">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="RUC" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarAcademia">
    <xs:sequence>
      <xs:element minOccurs="0" name="academia" type="tns:academia" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarAcademiaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarAcademia">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAcademiaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerAcademia">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerAcademiaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:academia" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificar" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>