PaginaHooke/HookeWeb/Connected Services/HookeWS/SedeWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.webhooke.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SedeWS" targetNamespace="http://services.webhooke.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebHookeWS/SedeWS?xsd=1" namespace="http://services.webhooke.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="guardarSede">
    <part name="parameters" element="tns:guardarSede" />
  </message>
  <message name="guardarSedeResponse">
    <part name="parameters" element="tns:guardarSedeResponse" />
  </message>
  <message name="listarSedes">
    <part name="parameters" element="tns:listarSedes" />
  </message>
  <message name="listarSedesResponse">
    <part name="parameters" element="tns:listarSedesResponse" />
  </message>
  <message name="eliminarSede">
    <part name="parameters" element="tns:eliminarSede" />
  </message>
  <message name="eliminarSedeResponse">
    <part name="parameters" element="tns:eliminarSedeResponse" />
  </message>
  <message name="obtenerSede">
    <part name="parameters" element="tns:obtenerSede" />
  </message>
  <message name="obtenerSedeResponse">
    <part name="parameters" element="tns:obtenerSedeResponse" />
  </message>
  <portType name="SedeWS">
    <operation name="guardarSede">
      <input wsam:Action="http://services.webhooke.pucp.edu.pe/SedeWS/guardarSedeRequest" message="tns:guardarSede" />
      <output wsam:Action="http://services.webhooke.pucp.edu.pe/SedeWS/guardarSedeResponse" message="tns:guardarSedeResponse" />
    </operation>
    <operation name="listarSedes">
      <input wsam:Action="http://services.webhooke.pucp.edu.pe/SedeWS/listarSedesRequest" message="tns:listarSedes" />
      <output wsam:Action="http://services.webhooke.pucp.edu.pe/SedeWS/listarSedesResponse" message="tns:listarSedesResponse" />
    </operation>
    <operation name="eliminarSede">
      <input wsam:Action="http://services.webhooke.pucp.edu.pe/SedeWS/eliminarSedeRequest" message="tns:eliminarSede" />
      <output wsam:Action="http://services.webhooke.pucp.edu.pe/SedeWS/eliminarSedeResponse" message="tns:eliminarSedeResponse" />
    </operation>
    <operation name="obtenerSede">
      <input wsam:Action="http://services.webhooke.pucp.edu.pe/SedeWS/obtenerSedeRequest" message="tns:obtenerSede" />
      <output wsam:Action="http://services.webhooke.pucp.edu.pe/SedeWS/obtenerSedeResponse" message="tns:obtenerSedeResponse" />
    </operation>
  </portType>
  <binding name="SedeWSPortBinding" type="tns:SedeWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="guardarSede">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarSedes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarSede">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerSede">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SedeWS">
    <port name="SedeWSPort" binding="tns:SedeWSPortBinding">
      <soap:address location="http://localhost:8080/WebHookeWS/SedeWS" />
    </port>
  </service>
</definitions>