PaginaHooke/HookeWeb/Connected Services/HookeWS/SedeWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.webhooke.pucp.edu.pe/" targetNamespace="http://services.webhooke.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarSede" type="tns:eliminarSede" />
  <xs:element name="eliminarSedeResponse" type="tns:eliminarSedeResponse" />
  <xs:element name="guardarSede" type="tns:guardarSede" />
  <xs:element name="guardarSedeResponse" type="tns:guardarSedeResponse" />
  <xs:element name="listarSedes" type="tns:listarSedes" />
  <xs:element name="listarSedesResponse" type="tns:listarSedesResponse" />
  <xs:element name="obtenerSede" type="tns:obtenerSede" />
  <xs:element name="obtenerSedeResponse" type="tns:obtenerSedeResponse" />
  <xs:complexType name="obtenerSede">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerSedeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sede">
    <xs:sequence>
      <xs:element minOccurs="0" name="academia" type="tns:academia" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" type="xs:string" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="academia">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="RUC" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarSede">
    <xs:sequence>
      <xs:element minOccurs="0" name="sede" type="tns:sede" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarSedeResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarSede">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSedeResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarSedes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarSedesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificar" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>