PaginaHooke/HookeWeb/Connected Services/HookeWS/SesionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.webhooke.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SesionWS" targetNamespace="http://services.webhooke.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebHookeWS/SesionWS?xsd=1" namespace="http://services.webhooke.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="guardarSesion">
    <part name="parameters" element="tns:guardarSesion" />
  </message>
  <message name="guardarSesionResponse">
    <part name="parameters" element="tns:guardarSesionResponse" />
  </message>
  <message name="obtenerSesion">
    <part name="parameters" element="tns:obtenerSesion" />
  </message>
  <message name="obtenerSesionResponse">
    <part name="parameters" element="tns:obtenerSesionResponse" />
  </message>
  <message name="eliminarSesion">
    <part name="parameters" element="tns:eliminarSesion" />
  </message>
  <message name="eliminarSesionResponse">
    <part name="parameters" element="tns:eliminarSesionResponse" />
  </message>
  <message name="listarSesiones">
    <part name="parameters" element="tns:listarSesiones" />
  </message>
  <message name="listarSesionesResponse">
    <part name="parameters" element="tns:listarSesionesResponse" />
  </message>
  <message name="listarSesionesporAlumnos">
    <part name="parameters" element="tns:listarSesionesporAlumnos" />
  </message>
  <message name="listarSesionesporAlumnosResponse">
    <part name="parameters" element="tns:listarSesionesporAlumnosResponse" />
  </message>
  <message name="listarAlumnosporSesiones">
    <part name="parameters" element="tns:listarAlumnosporSesiones" />
  </message>
  <message name="listarAlumnosporSesionesResponse">
    <part name="parameters" element="tns:listarAlumnosporSesionesResponse" />
  </message>
  <portType name="SesionWS">
    <operation name="guardarSesion">
      <input wsam:Action="http://services.webhooke.pucp.edu.pe/SesionWS/guardarSesionRequest" message="tns:guardarSesion" />
      <output wsam:Action="http://services.webhooke.pucp.edu.pe/SesionWS/guardarSesionResponse" message="tns:guardarSesionResponse" />
    </operation>
    <operation name="obtenerSesion">
      <input wsam:Action="http://services.webhooke.pucp.edu.pe/SesionWS/obtenerSesionRequest" message="tns:obtenerSesion" />
      <output wsam:Action="http://services.webhooke.pucp.edu.pe/SesionWS/obtenerSesionResponse" message="tns:obtenerSesionResponse" />
    </operation>
    <operation name="eliminarSesion">
      <input wsam:Action="http://services.webhooke.pucp.edu.pe/SesionWS/eliminarSesionRequest" message="tns:eliminarSesion" />
      <output wsam:Action="http://services.webhooke.pucp.edu.pe/SesionWS/eliminarSesionResponse" message="tns:eliminarSesionResponse" />
    </operation>
    <operation name="listarSesiones">
      <input wsam:Action="http://services.webhooke.pucp.edu.pe/SesionWS/listarSesionesRequest" message="tns:listarSesiones" />
      <output wsam:Action="http://services.webhooke.pucp.edu.pe/SesionWS/listarSesionesResponse" message="tns:listarSesionesResponse" />
    </operation>
    <operation name="listarSesionesporAlumnos">
      <input wsam:Action="http://services.webhooke.pucp.edu.pe/SesionWS/listarSesionesporAlumnosRequest" message="tns:listarSesionesporAlumnos" />
      <output wsam:Action="http://services.webhooke.pucp.edu.pe/SesionWS/listarSesionesporAlumnosResponse" message="tns:listarSesionesporAlumnosResponse" />
    </operation>
    <operation name="listarAlumnosporSesiones">
      <input wsam:Action="http://services.webhooke.pucp.edu.pe/SesionWS/listarAlumnosporSesionesRequest" message="tns:listarAlumnosporSesiones" />
      <output wsam:Action="http://services.webhooke.pucp.edu.pe/SesionWS/listarAlumnosporSesionesResponse" message="tns:listarAlumnosporSesionesResponse" />
    </operation>
  </portType>
  <binding name="SesionWSPortBinding" type="tns:SesionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="guardarSesion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerSesion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarSesion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarSesiones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarSesionesporAlumnos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAlumnosporSesiones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SesionWS">
    <port name="SesionWSPort" binding="tns:SesionWSPortBinding">
      <soap:address location="http://localhost:8080/WebHookeWS/SesionWS" />
    </port>
  </service>
</definitions>