PaginaHooke/HookeWeb/Connected Services/HookeWS/SesionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.webhooke.pucp.edu.pe/" targetNamespace="http://services.webhooke.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarSesion" type="tns:eliminarSesion" />
  <xs:element name="eliminarSesionResponse" type="tns:eliminarSesionResponse" />
  <xs:element name="guardarSesion" type="tns:guardarSesion" />
  <xs:element name="guardarSesionResponse" type="tns:guardarSesionResponse" />
  <xs:element name="listarAlumnosporSesiones" type="tns:listarAlumnosporSesiones" />
  <xs:element name="listarAlumnosporSesionesResponse" type="tns:listarAlumnosporSesionesResponse" />
  <xs:element name="listarSesiones" type="tns:listarSesiones" />
  <xs:element name="listarSesionesResponse" type="tns:listarSesionesResponse" />
  <xs:element name="listarSesionesporAlumnos" type="tns:listarSesionesporAlumnos" />
  <xs:element name="listarSesionesporAlumnosResponse" type="tns:listarSesionesporAlumnosResponse" />
  <xs:element name="obtenerSesion" type="tns:obtenerSesion" />
  <xs:element name="obtenerSesionResponse" type="tns:obtenerSesionResponse" />
  <xs:complexType name="listarSesionesporAlumnos">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSesionesporAlumnosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sesion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sesion">
    <xs:sequence>
      <xs:element minOccurs="0" name="alumno" type="tns:alumno" />
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
      <xs:element name="estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idHorario" type="xs:int" />
      <xs:element minOccurs="0" name="modalidad" type="xs:string" />
      <xs:element minOccurs="0" name="profesor" type="tns:profesor" />
      <xs:element minOccurs="0" name="sede" type="tns:sede" />
      <xs:element minOccurs="0" name="tipoSesion" type="tns:tipoSesion" />
      <xs:element minOccurs="0" name="voucher" type="tns:voucher" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="carrera" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element name="tipoUsuario" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element name="horaFin" type="xs:int" />
      <xs:element name="horaInicio" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="nivel" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profesor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="curso" type="tns:curso" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="sede">
    <xs:sequence>
      <xs:element minOccurs="0" name="academia" type="tns:academia" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" type="xs:string" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="academia">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="RUC" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoSesion">
    <xs:sequence>
      <xs:element name="idModalidad" type="xs:int" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="voucher">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoOperacion" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="monto" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerSesion">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerSesionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:sesion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSesiones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarSesionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sesion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSesion">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSesionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="guardarSesion">
    <xs:sequence>
      <xs:element minOccurs="0" name="sesion" type="tns:sesion" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarSesionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAlumnosporSesiones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAlumnosporSesionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificar" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>