PaginaHooke/HookeWeb/Connected Services/HookeWS/VoucherWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.webhooke.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="VoucherWS" targetNamespace="http://services.webhooke.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebHookeWS/VoucherWS?xsd=1" namespace="http://services.webhooke.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarVoucher">
    <part name="parameters" element="tns:eliminarVoucher" />
  </message>
  <message name="eliminarVoucherResponse">
    <part name="parameters" element="tns:eliminarVoucherResponse" />
  </message>
  <message name="obtenerVoucher">
    <part name="parameters" element="tns:obtenerVoucher" />
  </message>
  <message name="obtenerVoucherResponse">
    <part name="parameters" element="tns:obtenerVoucherResponse" />
  </message>
  <message name="guardarVoucher">
    <part name="parameters" element="tns:guardarVoucher" />
  </message>
  <message name="guardarVoucherResponse">
    <part name="parameters" element="tns:guardarVoucherResponse" />
  </message>
  <message name="listarVouchers">
    <part name="parameters" element="tns:listarVouchers" />
  </message>
  <message name="listarVouchersResponse">
    <part name="parameters" element="tns:listarVouchersResponse" />
  </message>
  <portType name="VoucherWS">
    <operation name="eliminarVoucher">
      <input wsam:Action="http://services.webhooke.pucp.edu.pe/VoucherWS/eliminarVoucherRequest" message="tns:eliminarVoucher" />
      <output wsam:Action="http://services.webhooke.pucp.edu.pe/VoucherWS/eliminarVoucherResponse" message="tns:eliminarVoucherResponse" />
    </operation>
    <operation name="obtenerVoucher">
      <input wsam:Action="http://services.webhooke.pucp.edu.pe/VoucherWS/obtenerVoucherRequest" message="tns:obtenerVoucher" />
      <output wsam:Action="http://services.webhooke.pucp.edu.pe/VoucherWS/obtenerVoucherResponse" message="tns:obtenerVoucherResponse" />
    </operation>
    <operation name="guardarVoucher">
      <input wsam:Action="http://services.webhooke.pucp.edu.pe/VoucherWS/guardarVoucherRequest" message="tns:guardarVoucher" />
      <output wsam:Action="http://services.webhooke.pucp.edu.pe/VoucherWS/guardarVoucherResponse" message="tns:guardarVoucherResponse" />
    </operation>
    <operation name="listarVouchers">
      <input wsam:Action="http://services.webhooke.pucp.edu.pe/VoucherWS/listarVouchersRequest" message="tns:listarVouchers" />
      <output wsam:Action="http://services.webhooke.pucp.edu.pe/VoucherWS/listarVouchersResponse" message="tns:listarVouchersResponse" />
    </operation>
  </portType>
  <binding name="VoucherWSPortBinding" type="tns:VoucherWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarVoucher">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerVoucher">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="guardarVoucher">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarVouchers">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="VoucherWS">
    <port name="VoucherWSPort" binding="tns:VoucherWSPortBinding">
      <soap:address location="http://localhost:8080/WebHookeWS/VoucherWS" />
    </port>
  </service>
</definitions>